<div class="container pt-3">
  <div class="row">

    <div class="col-xl-2">
      <app-button-module
        [moduleName]="'Clientes'"
        [moduleIcon]="'customers.png'"
        [moduleUrl]="'/customers'"
      ></app-button-module>
    </div>

    <div class="col-xl-2">
      <app-button-module
        [moduleName]="'Mensajes'"
        [moduleIcon]="'messages.png'"
        [moduleUrl]="'/messages'"
      ></app-button-module>
    </div>

    <div class="col-xl-2">
      <app-button-module
        [moduleName]="'Agenda'"
        [moduleIcon]="'appointments.png'"
        [moduleUrl]="'/appointments'"
      ></app-button-module>
    </div>

    <div class="col-xl-2"></div>
    <div class="col-xl-2"></div>
    <div class="col-xl-2"></div>

  </div>
</div>
